ErrorDocument 400 /errors/bad-request.html
ErrorDocument 401 /errors/auth-reqd.html
ErrorDocument 403 /errors/forbid.html
ErrorDocument 404 /errors/404/index.html
ErrorDocument 500 /errors/server-err.html

AuthUserFile /.htpasswd
AuthGroupFile /.htgroup
AuthName "Main"
AuthType Basic
<Limit GET POST>
require group Member
require group admin
require user Zak
</Limit>
