#go-back {
  color: black;
  font-size: 14;
}

#insert {
  color: red;
  font: Arial;
}

/*
i dont know if this will work
vvvvvvvvvvvvvvvvvvvv
title.default {
  font-color: black;
  font-family: Arial;
  font-size: 12;
  text-align: center;
}
*/

head.default {
  font-color: black;
  font-family: Arial;
  font-size: 12;
  text-align: left;
}

body.default {
  font-color: black;
  font-family: Arial;
  font-size: 12;
  text-align: left;
}

head.top-right {
  text-align: right;
}

head.top-left {
  text-align: left;
}

//hi
