/*this will hopefully make the word hello full screen*/

/*this didnt work

h1 {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  h1 {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  h1 {
    font-size: 22px;
  }
}

*/

h1 {
  font-size: 96px
}
